<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Back', :back %>
<% if user_signed_in? && current_user == @article.user %>
 | <%= link_to 'Edit', edit_article_path(@article.id) %> 
<%end%>
| <%= link_to 'Home', root_path%>
