<p style="font-size: 30px;">
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p style="font-size: 30px;">
  <strong>Id:</strong>
  <%= @user.id %>
</p>
<h2>Comments:</h2>
<div style="margin-left: 20px;"> 
  <% @user.comments.each do |c| %>
  <div>
    <h5>Comment by  <%= c.commenter %></h5>
    <%= c.body %>
    </div>
  <br>
<% end %>
</div>

<p>


<%=  form_with model: @user.comments.build,  local: true  do |form| %>
  <p>
    <%= form.hidden_field :commenter, :value => current_user.email %>
    <%= form.hidden_field :commentable_id, value: @user.id %>
    <%= form.hidden_field :commentable_type, value: "User" %>
  </p>
  <p>
    <%= form.label :Comment %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit class: 'btn btn-primary' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
| <%= link_to 'Home', root_path%>
