<h1>Saved Articles</h1>
<div style="margin: 20px;">
  <%= link_to 'Home', root_path, :class => "btn btn-light" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
      <th scope="col">Id</th>
      <th scope="col">Email</th>
      <th scope="col">Show</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <% @saved_aritcles.includes(:user).each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= article.text %></td>
          <td><%= article.id %></td>
          <td><%= article.user.email %></td>
          <td><%= link_to 'Show', article_path(article.id), :class => "btn btn-light"  %></td>
          <td><%= link_to 'Remove', user_article_path(id: article.id), 
                method: :delete, 
                data: { confirm: 'Are you sure?' }, :class => "btn btn-light"  %></td>
        </tr>
      <% end %>
    </tr>
  </tbody>
</table>
